player-connection-mode=Listen
player-connection-guid=3786893256
player-connection-debug=0
player-connection-project-name=First Multiplayer Game
player-connection-ip=192.168.100.94
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=94890cbc4874496aaad79a9aa21f670a
